{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Recipe Sharing</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/heroicons/2.0.11/heroicons.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}?v=1.0">
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: '#FF6B00',
              secondary: '#FF9500'
            }
          }
        }
      }
    </script>
  </head>

  <body>

    {% block content %}{% endblock content %}

  </body>
</html>
